// COLORS
$primaryColor: #34495e;
$red: #E31A56;
$green: #49D983;
$white: white;
$grey: #656E56;

// BACKGROUND
.bg-green {
    background: $green;
    color: $white !important;
}

.bg-red {
    background: $red;
    color: $primaryColor;
}

// TEXT
.text-primary {
    color: $primaryColor !important;
}

.red-text {
    color: $red;
}

.green-text {
    color: $green;
}
