// FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* VARIABLES */
@import 'variables';

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: $primaryColor;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #666;
}

::-webkit-scrollbar-thumb {
    background: #232323;
}


// BAHAN
.break {
    clear: both;
}

.form-group {
    margin-bottom: 20px;
}
