@import 'variables.scss';

body, html{
    width: 100%;
    height: 100%;
}

// Auth Container
.auth-section-container{
    height: 100% !important;
}
.auth-section {
    padding: 40px 150px;
}

//Image Size
.auth-section-image{
    height: 500px;
}

//text-size
.header-wrapper > h1{
    font-size: 48px !important;
    font-weight: bold !important;
}
