footer {
    margin: 120px 0 0 0;

    .row {
        gap: 34px;

        .col {
            min-width: 296px;
        }
    }
}

.footer-header-wrapper {
    .footer-header {
        font-size: 36px;
        font-weight: 800;
    }

    p {
        width: 200px;
    }
}

.send-icon {
    height: 20px;
}

.footer-social-media-wrapper {
    display: flex;
    gap: 12px;
    img {
        height: 28px;
    }
}

@media screen and (max-width: 768px) {
    footer {
        .row {
            flex-direction: column;
            text-align: center;
        }
    }

    .footer-end {
        flex-direction: column;
        align-items: center;
    }

    .footer-header-wrapper {
        .footer-header {
            font-size: 36px;
            font-weight: 800;
        }

        p {
            display: inline-block;
        }
    }
}
