@import 'variables';

.navbar-brand {
    font-size: 25px;
    // background: #E31A56;
    // background: -webkit-linear-gradient(to right, #E31A56 0%, #49d983 100%);
    // background: -moz-linear-gradient(to right, #E31A56 0%, #49d983 100%);
    // background: linear-gradient(to right, #E31A56 0%, #49d983 100%);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    font-weight: bold;
    color: $primaryColor !important;
}

.navbar {
    padding: 15px 0;
}

.nav-link {
    color: $primaryColor !important;
    font-weight: 600;
    font-size: 20px;
}

.signup-btn {
    border-radius: 10px;
}

.navbar-light .navbar-toggler {
    border: none;
}

.avatar {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -5px 0;
    float: left;
    margin-right: 10px;
}

.dropdown-menu {
    z-index: 1000;
}
