@import 'variables';

.navbar-brand {
    font-size: 25px;
    background: #E31A56;
    background: -webkit-linear-gradient(to right, #E31A56 0%, #49d983 100%);
    background: -moz-linear-gradient(to right, #E31A56 0%, #49d983 100%);
    background: linear-gradient(to right, #E31A56 0%, #49d983 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: bold;
}

.navbar {
    padding: 20px 0;
}

.nav-link {
    color: $primaryColor !important;
    font-weight: bold;
    font-size: 18px;
}


.signup-btn {
    border-radius: 10px;
}

.navbar-light .navbar-toggler {
    border: none;
}
