@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
/* VARIABLES */
.bg-green {
  background: #49D983;
  color: white !important;
}

.bg-red {
  background: #E31A56;
  color: white !important;
}

.text-primary {
  color: #34495e !important;
}

.red-text {
  color: #E31A56;
}

.green-text {
  color: #49D983;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #34495e;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #666;
}

::-webkit-scrollbar-thumb {
  background: #232323;
}

.break {
  clear: both;
}

.form-group {
  margin-bottom: 20px;
}
