.bg-green {
  background: #49D983;
  color: white !important;
}

.bg-red {
  background: #E31A56;
  color: white !important;
}

.bg-green-gradient {
  background: #49d983;
  background: linear-gradient(221deg, #49d983 0%, #c6e2d1 89%);
  color: white !important;
}

.bg-outline-green {
  color: #49D983 !important;
  border: 1px solid #49D983;
}
.bg-outline-green:hover {
  background: #49D983 !important;
  color: white !important;
}

.bg-outline-red {
  color: #E31A56 !important;
  border: 1px solid #E31A56;
}
.bg-outline-red:hover {
  background: #E31A56 !important;
  color: white !important;
}

.text-primary {
  color: #34495e !important;
}

.text-red {
  color: #E31A56 !important;
}

.text-green {
  color: #49D983 !important;
}

.navbar-brand {
  font-size: 25px;
  font-weight: bold;
  color: #34495e !important;
}

.navbar {
  padding: 10px 0;
}

.nav-link {
  color: #34495e !important;
  font-weight: 600;
  font-size: 20px;
}

.signup-btn {
  border-radius: 10px;
}

.navbar-light .navbar-toggler {
  border: none;
}

.avatar {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: -5px 0;
  float: left;
  margin-right: 10px;
}
